% rebase('base.html')

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <p><strong>Jobs is a new, exciting, job posting service like nothing you've seen before!</strong>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id mi sit amet ante tempus
                        maximus quis pretium ligula. Proin at nunc quam. Etiam in nisl non nisl scelerisque venenatis.
                        Duis nec ex velit. Sed varius sem dui, ut sollicitudin nunc fermentum at. Nullam ac fermentum
                        ipsum, finibus posuere odio. Suspendisse potenti.</p>

                    <p>Proin nec egestas tortor. Vestibulum venenatis, leo in rhoncus euismod, justo orci faucibus
                        diam, et luctus ligula orci et orci. Mauris sit amet vestibulum tortor, at ornare tortor. Duis
                        semper convallis felis, eu lobortis velit imperdiet sed. Etiam pulvinar iaculis neque sed
                        finibus. Morbi euismod risus placerat, semper orci ac, semper nisi. Ut commodo, ligula in
                        dapibus viverra, ipsum elit pretium augue, quis aliquam diam tortor sagittis mi. Sed suscipit
                        felis sit amet sapien lacinia suscipit. Curabitur sodales risus ut ultrices dictum.</p>
                </div>
            </div>
        </div>
    </div>
</div>