% rebase('base.html')
<div class="content">
    <div class="container">
        % if data :
        <div class="row">
            <div class="col-sm-1 col-md-12 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-2 col-centered">
                                <p class="heading" align="centre">Job Detail</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td><strong>#</strong></td>
                                    <td>{{data[0]}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Job Title</strong></td>
                                    <td>{{data[3]}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Company</strong></td>
                                    <td>{{data[5]}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Location</strong></td>
                                    <td>{{data[4]}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Listing Date</strong></td>
                                    <td>{{data[1]}}</td>
                                </tr>
                                <tr>
                                    <td><strong>User</strong></td>
                                    <td>{{data[2]}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Description</strong></td>
                                    <td>{{!data[6]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <button type="button" class="btn btn-primary">Apply</button>
                    </div>
                </div>
            </div>
        </div>
        % else:
        <div class="alert alert-danger">
            <strong>No such position exists.</strong>
        </div>
        % end
    </div>
</div>