% rebase('base.html')
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <div class="row">
                        <strong>520 Unknown Error</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>