% rebase('base.html')

<div class="content">
    <div class="container">
        % if user != None:
        <div class="row">
            <div class="col-sm-12">
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm"
                            aria-expanded="false" aria-controls="collapseForm" id="add-post">
                        Create New Job
                    </button>
                </p>
                <div class="collapse" id="collapseForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="div-form">
                                <form class="form" id="postform" action="/post" method="POST">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Title"
                                                           name="title" id="title" required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Location"
                                                           name="location" id="location" required>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Company"
                                                           name="company" id="company">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="5" placeholder="Description"
                                                      name="description" id="description" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Add Post
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        % end
        <div class="row">
            <div class="col-lg-2 col-centered">
                <p class="heading" align="centre">Featured Jobs</p>
            </div>
        </div>
        <div class="row">
            % for row in data:
            <div class="col-sm-6 col-md-3 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-header">
                        {{row[2]}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-heading">{{row[3]}}</h5>
                        {{!row[6][0:100]}}...
                    </div>
                    <div class="card-body">

                    </div>
                    <div class="card-footer text-muted">
                        {{row[1]}}

                        <a href="/positions/{{row[0]}}" class="card-link">Read More</a>
                    </div>
                </div>
            </div>
            % end
        </div>
    </div>
</div>