<div class="section-jumbo">
    <div class="opacity">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron jumbotron-fluid">
                        <div class="container">
                            <h1 class="display-4">Welcome to Jobs</h1>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla
                                libero
                                ac urna
                                tincidunt, et molestie erat cursus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>