% rebase('base.html')
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <div class="row">
                        <strong>Login Failed, please try again</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="div-form">
                    <form class="form login-form" id="loginform" action="/login" method="POST">
                        <div class="col-md-5">
                            <div class="form-group">
                                <input class="form-control" name="nick" id="nick" placeholder="User Nick" required>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="Password" required>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>