<div class="section-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-sm navbar-light bg-light" data-toggle="affix">
                    <button class="navbar-toggler" id="navToggle" type="button" data-toggle="collapse"
                            data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="container" id="navPadding">
                        <div class="collapse navbar-collapse text-center" id="navbarNav">
                            <div class="navbar-nav">
                                <div class="nav-item">
                                    % if active == 'index':
                                        <a class="nav-link active" href="/">jobs</a>
                                    % else:
                                        <a class="nav-link" href="/">jobs</a>
                                    % end
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link" href="#">our services</a>
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link" href="#">testimonials</a>
                                </div>
                                <div class="nav-item">
                                    % if active == 'about':
                                        <a class="nav-link active" href="/about">About this site</a>
                                    % else:
                                        <a class="nav-link" href="/about">About this site</a>
                                    % end
                                </div>
                                <div class="nav-item">
                                    <a class="nav-link" href="#">contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>