<div class="section-topbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                % if user != None:
                <form class="form-inline login-form" id="logoutform" action="/logout" method="POST">
                    <div class="col-md-6">
                        <p style="margin-bottom: 0 !important;">Logged in as {{ user }}</p>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-link">Logout</button>
                        </div>
                    </div>
                </form>
                % else:
                <form class="form-inline login-form" id="loginform" action="/login" method="POST">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control" name="nick" id="nick" placeholder="User Nick" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Password" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-link">Login</button>
                        </div>
                    </div>
                </form>
                % end
            </div>
        </div>
    </div>
</div>