html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* top bar */
.section-topbar {
    background-color: #B7826C;
    color: #FFFFFF;
    padding: 5px;
    font-size: small !important;
    font-weight: 300 !important;
}

.section-topbar .login-form {
    float: right;
}

.section-topbar .login-form div {
    padding: 0 5px;
}

.section-topbar .login-form label {
    padding: 0 5px;
}

.section-topbar .form-control {
    padding: 0 !important;
    font-size: small !important;
    font-weight: 300 !important;
}

.section-topbar .btn {
    font-weight: 300;
}

.btn-link {
    color: white !important;
    padding: 0 5px !important;
}

.btn-link:hover {
    text-decoration: none !important;
    cursor: pointer !important;
    color: #6FB76C !important;
    background-color: #966CB7 !important;
    transition: all .2s ease-in !important;
}

form .form-group {
    margin: 5px 10px;
}

form .form-control:focus {
    border-color: #966CB7 !important;
    box-shadow: 0 0 0 0.2rem rgba(150, 108, 183, .45) !important;
}

/* navigation bar */

.section-nav {
    width: 100%;
    background: #966CB7;
}

.section-nav nav {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0 !important;
}

.section-nav a {
    border-bottom: 5px solid #966CB7;
    padding: 20px !important;
    color: #ADB76C !important;
    font-size: 1.25rem;
    font-weight: 300;
}

.section-nav a.active {
    border-bottom: 5px solid #6FB76C;
    color: #6FB76C !important;
}

.section-nav a:hover {
    border-bottom: 5px solid #6FB76C;
    color: #6FB76C !important;
    transition: all .2s ease-in;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    width: 100%;
}

#navPadding {
    padding: 0;
}

#navToggle {
    padding: 5px;
}

/* jumbotron */

.section-jumbo {
    width: 100%;
    color: #B7826C;
    /* image obtained from: http://www.asaprecruitment.co.in */
    background: center center url(../image/jumbotron.png) no-repeat;
    background-size: cover;
}

.opacity {
    background: rgba(255, 255, 255, 0.5) !important;
}

.jumbotron {
    background: none !important;
    padding: 2rem !important;
}

.jumbotron .container {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8) !important;
    color: #382844;
}

/* content */

/* index */

.content {
    margin: 10px;
    min-height: 100vh;
}

.card {
    margin: 15px 0;
}

.card, .card h2, h3, h4, h5, h6 {
    font-size: small !important;
    font-weight: 300 !important;
}

.card-heading {
    font-weight: bold !important;
    color: #966CB7;
}

.card-link {
    float: right !important;
    color: #ADB76C !important;
    font-weight: 500;
}

.card-link:hover {
    color: #6FB76C !important;
    transition: all .2s ease-in;
}

/*detail*/

table {
    font-weight: 300 !important;
}

.card .btn-primary {
    float: right;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.heading {
    font-weight: 300;
    font-size: x-large;
    color: #966CB7;
}

/*login*/

.div-form {
    border: 1px solid #966CB7;
    border-radius: 10px;
    padding: 15px;
}

.div-form form .form-group {
    margin: 15px;
}

/* footer */

.footer {
    min-height: 140px;
    width: 100%;
    background: #966CB7;
    font-weight: 300 !important;
    color: #FFFFFF;
}

.footer .container {
    padding: 2px;
}

.footer p {
    margin: 1rem 5px !important;
}

.footer ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer li {
    list-style: none;
    padding: 5px;
}

.connect li {
    list-style: none;
    float: left;
    font-size: 2em;
    color: #fff;
    padding: 10px;
}

.footer li a {
    display: block;
    color: white;
    text-decoration: none;
}

.footer li a:hover {
    cursor: pointer;
    color: #6FB76C;
    transition: all .2s ease-in;
}



